#content a.caltrigger {
    background: url(++resource++plone.formwidget.datetime/popup_calendar.gif);
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    border:none;
    margin:none;
    padding:none;
    border-radius:none;
}
